

name: Master - Docker Build/Publish README

on:
  push:
    branches: [ master ]
    paths:
      - 'README.md'

jobs:
  multi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      -
        name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: assistantprojectalice/main-unit
